/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background: rgb(44,0,85);
  background: linear-gradient(180deg, rgba(44,0,85,1) 63%, rgba(196,0,255,1) 97%);
  height: 100vh;
}

/* Header Styles */
.containerHeader{
  width: 100%;
  height: auto;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.titulo{
  font-size: 20px;
  font-weight: bold;
  color: beige;
  margin-left: 2rem;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.logout{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loginTag{
  background-color: #ec10c2;
  height: 3rem;
  width: 8rem;
  text-decoration-style: none;
  padding: .5rem 0;
  font-size: 25px;
  text-decoration: none;
  margin-right: 2rem;
  color: white;
  text-align: center;
  border-radius: 20px 20px;
  cursor: pointer;
  font-weight: 700;
}

/* Login */
.containerLogin{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.login{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  height: 380px;
  width: 400px;
  padding: 0 1rem;
  background-color: beige;
  border-radius: 25px 25px;
}

.loginSubmit{
  width: 100%;
  background-color: #ec10c2;
  border: none;
  cursor: pointer;
  height: 2rem;
  border-radius: 10px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 700;
}

.line{
  align-items: center;
  border-bottom: 1px solid #dadde1;
  margin: 20px 16px;
  text-align: center;
}

.newAccount{
  background-color: #42b72a;
  font-size: 15px;
  padding: .5rem 15px;
  width: 60%;
  align-self: center;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin-bottom: 1rem;
  text-decoration: none;
}


/* Task Handler */
.taskHanlderContainer{
  height: auto;
  width: 80%;
  background-color: thistle;
  padding: 5rem;
  margin: 0 auto;
  align-items: center;
}

.welcome{
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

/* New Task */


.error{
  color: red;
  font-weight: 800;
  background-color: #FABABA;
  width: 300px;
  border: 2px;
  border-style: solid;
  text-align: center;
  margin-bottom: 0.5rem;
}

.error2{
  color: red;
  font-weight: 800;
  background-color: #FABABA;
  width: 100%;
  border: 2px;
  border-style: solid;
  text-align: center;
  margin-bottom: 0.5rem;
}

.ulList{
  width: 300px;
  justify-content: center;
  align-items: center;
}

ul { 
  list-style-type: "👍🏻";
  cursor: crosshair;
}

.taskItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.6rem 0.4rem;
}

.xItem{
  color: red;
  font-size: large;

}

.xItem:hover{
  cursor: pointer;

}

.checkTask{
  text-decoration: line-through;
}

.bye{
  cursor: pointer;
}

.bye:hover{
  color:rgba(196,0,255,1);
}